/target/classes
/target/generated-sources
/target/generated-test-sources
/target/maven-status
/target/jacoco0-ut
/target/surefire-reports
/target/test-classes
/target/jacoco.exec
.classpath
.project
.settings/
bin/
